{% extends "emails/base_email.html" %}
{% load i18n %}

{% block content %}
  <h2>Password Reset Request</h2>
  <p>Hello {{ user.get_full_name|default:user.username }},</p>
  <p>We received a request to reset the password for your MyStudy App account. Click the button below to set a new password:</p>
  <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">Reset Password</a>
  <p>If you didn’t request this, please ignore this email. Your password will remain unchanged.</p>
  <p>For security, this link will expire in {{ password_reset_timeout }} hours.</p>
{% endblock %}